*
!.gitignore
!pictures
!pictures/img1.jpg
!pictures/img2.jpg
!pictures/img3.jpg
!pictures/erik-lucatero-1.jpg
!pictures/joe-gardner-1.jpg
!pictures/kaci-baum-1.jpg
!pictures-seed
!pictures-seed/img1.jpg
!pictures-seed/img2.jpg
!pictures-seed/img3.jpg
!pictures-seed/erik-lucatero-1.jpg
!pictures-seed/joe-gardner-1.jpg
!pictures-seed/kaci-baum-1.jpg

